.col__5 {
    margin-bottom: 1rem;
    min-width: 150px;
    flex-basis: 15%;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
	transition: transform 0.5s;
}

.col__5 img {
    height: 200px;
	width: 150px;
}
.col__5:hover {
	transform: translateY(-5px);
}
