.baner {
	display: flex;
	justify-content: center;
	font-weight: bold;
	background-color: #19323c;
	color: white;
	height: 1rem;
	font-size: 0.8rem;
}

.header {
	font-size: 1.3rem;
	font-weight: 600;
	min-height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	border-bottom: 1px solid #19323c;;
	
}

.categories {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	align-items: flex-end;
}

.categories li {
	margin-left: 1rem;
}
.categories a {
	text-decoration: none;
}
.icons {
	display: flex;
	flex-direction: row;
	padding-right: 1rem;
}
.icons__profile {
	display: flex;
	flex-direction: row;
}

.icons__profile img {
	width: 30px;
	height: 30px;
	margin-left: 1.3rem;
}
.icons__profile__menu {
	display: none;
}

.logo {
	width: 60px;
}

@media only screen and (max-width: 768px) {
	.categories {
		display: block;
		text-align: center;
		position: absolute;
		top: 77px;
		right: 0;
		width: 100%;
		background-color: #19323c;
	}
	.categories__off {
		visibility: hidden;
	}
	.categories > li {
		height: 40px;
		font-size: 1.6rem;
		
	}
	.categories a {
		text-decoration: none;
		color: white;
	}
	.icons__profile__menu {
		display: block;
		
	}
}
