* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Addington CF', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, ad;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
a:link,
a:active,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #19323c;
}

ul { 
	margin-bottom: 0;
}

button {
	background-color:  #D34E24 !important;
	border-color: #D34E24 !important;
}