.small__container {
	max-width: 1080px;
	margin: 100px auto;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.col__2 {
	min-width: 300px;
}

.col__2 img {
	min-width: 200px;
	max-width: 250px;
}


.title {
	font-size: 2rem;
	font-weight: 500;
}
.author {
	font-size: 1.6rem;
	font-weight: 300;
	color: gray;
	margin-bottom: 2rem;
}
.price {
	margin-right: 2rem;
	
}

.description {
	margin-top: 2rem;
	max-width: 600px;
}
