
.small__container {
	max-width: 1080px;
	margin: auto;
	margin-top: 1em;
}

.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.row img {
	width: 100%;
	width: 120px;
	height: 160px;
}

.product {
	display: flex;
	flex-direction: column;
	flex-basis: 10%;
	min-width: 150px;
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	margin-bottom: 2rem;
	width: 120px;
}

.product__description p {
	margin: 0;
	display: block;
	text-overflow: ellipsis;
}

.product__title {
	font-weight: 500;
}
.product__author {
	font-weight: 300;
	font-size: 0.8rem;
}
.product__price {
	font-weight: 700;
	font-size: 0.8rem;
	color: orange;
}